/* Hero section */
.hero-section {
  position: relative; 
  background: #000; 
  color: #e2e8f0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 0; /* remove the center gap */
}

/* Left text content */
.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  max-width: 600px;
  line-height: 1.6;
  background: linear-gradient(110deg, #000214 0%, #000000 55%);
  color: #e2e8f0;
}

.circle-decoration {
  position: absolute;
  top: 12%;
  left: 8%;
  width: 12%;
  height: 22%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 10px 1px #38bdf8, 0 0 20px 1px #0073a9;
  animation: glowPulse 2.5s ease-in-out infinite;
}

.circle-decoration img {
  position: relative;
  right: -8%;
  width: 104%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-10%); /* Move only the image left */
}

@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 10px 1px #38bdf8, 0 0 20px 1px #0ea5e9;
  }
  40% {
    box-shadow: 0 0 20px 1px #38bdf8, 0 0 40px 4px #0ea5e9;
  }
}

.hero-content h1 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  margin-top: 15%;
}

.highlight {
  color: #38bdf8;
}

.tagline {
  font-size: 1.4rem;
  font-weight: 500;
  color: #94a3b8;
  margin-bottom: 1rem;
}

.subtext {
  font-size: 1.05rem;
  color: #cbd5e1;
  margin-bottom: 2.5rem;
}

.hero-button {
  background-color: #38bdf8;
  color: #000;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #0ea5e9;
  transform: translateY(-2px);
}

/* Right: Spline container */
.spline-container {
  flex: 1;
  width: 100%;
  height: 100%;
}

.spline-container canvas {
  width: 100% !important;
  height: 100% !important;
}


.bottom-square {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: #000;
  bottom: 20px;
  right: 20px;
  z-index: 2; /* above Spline */
  border-radius: 12%;
}

@keyframes showSquare {
  to {
    opacity: 1;
  }
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .hero-wrapper {
    flex-direction: column;
  }

  .hero-content {
    text-align: center;
    padding: 40px 20px;
  }

  .spline-container {
    height: 400px;
  }
}
